@font-face {
  font-family: Roboto;
  src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf');

}

@font-face {
  font-family: Roboto-bold;
  src: url('../../assets//fonts//Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-thin;
  src: url('../../assets//fonts//Roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: nova-square;
  src: url('../../assets/fonts//Nova_Square/NovaSquare-Regular.ttf');

}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  flex-direction: row;
}

.navi {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
 

.nav-bar {
  display: flex;
  align-items: center;
  
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 20px;
  width: 70px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 10px;
  list-style: none;
  width: 100%;
  height: 100%;
}

.menu-links {
  text-decoration: none;
  color: goldenrod;
  font-family: Roboto-bold;
  font-weight: bold;
  margin-right: 10px;
  width: 100%;
  display: flex;
  transition: 0.2s;
  border-bottom: #e1a427 solid 1px;
  align-items: center;
  justify-content: center;
  padding: 2px;
} 

.menu-links:hover {
  transform: scale(1.1);
}

.hamburger {
  display: none;
}




.company-name {
  color: white;
  font-size: 20px;
  display: flex;
  width: 80%;
  flex-direction: row;
  border-top: solid goldenrod;
  justify-content: space-around;
 
  padding: 10px;
}

.company-contact {
  color: goldenrod;
}

.company-name-tel {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-decoration: none;
}

.company-tel {
  margin-right: 20px;
  font-size: 20px;
  font-family: Roboto-bold;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.company-tel-link {
  font-family: Roboto-bold;
  color: goldenrod;
  text-decoration: none;
  display: flex;
  margin-left: 20px;
}



@media only screen and (max-width: 768px) {

  .hamburger {
    display: flex;
    margin-right: 20px;
  }

  .menu {
    position: absolute;
    left: 0;
    top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
    gap: 60px;
    transition: 0.5s;
    z-index: 1111111;
    padding: 0px;
    font-size: 30px;
    font-weight: bold;
  }

  .menu.active {
    display: none;
    transition: 0.5s;
    padding: 0px;
    margin: 0px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navi {
    width: 100%;
  }






  
  .company-name-tel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .company-tel {
    
    font-size: 0.7rem;
    font-family: Roboto-bold;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 10px 0px;
  }

  .company-tel-link {
    display: flex;
    align-items: center;
    width: auto;
    margin-right: 10px;
   
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    width: 50px;
  }

 
}

/* @media only screen and (min-width: 768px) and (max-width: 1024px) {
 .company-tel {
  font-size: 0.9rem;
 }

 .company-name-text {
  font-size: 18px;
 }

 .nav {
  width: 100%;
 }

 .navi {
  width: 100px;
 }

 .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px;

}

.menu-links {
  width: 100%;
}

 
} */
